<div>
    <h1>Envio de correo de recuperaci칩n de contrase침a</h1>
    <form action="/api/forgotpassword" method="POST">
        <input type="email" name="email" id="email" placeholder="Correo electr칩nico" required>
        <button type="submit">Enviar correo de recuperaci칩n</button>
    </form>
</div>