<div class="alert alert-success" role="alert">
    {{#with data}}
        <h1>¡GRACIAS POR SU COMPRA!</h1>
        <h3>Se ha enviado un mail con los datos de su pedido.</h3>
        <h3>Código de ticket: {{ticket.code}}</h3>
    {{/with}}
</div>