<div>
    <h1>Restablecer contraseña</h1>
    <form action="/api/resetpassword/{{token}}" method="POST">
        <input type="password" name="newPassword" id="newPassword" placeholder="Nueva contraseña." required>
        <button type="submit">Restablecer contraseña</button>
    </form>
</div>